                                                            body {
                                                            width: 90%;
                                                            margin: 0px auto;
                                                        }
                                                        
                                                        .wrap {
                                                            width: 100%;
                                                        }
                                                        
                                                        #header {
                                                            width: 50%;
                                                            margin: 0px auto;
                                                            padding: 100px 0 100px 0;
                                                        }
                                                        
                                                        @media screen and (max-width: 600px) {
                                                            #header {
                                                                padding-bottom: 20px;
                                                                padding-top: 20px;
                                                            }
                                                        }
                                                        
                                                        .logo {
                                                            display: block;
                                                            margin-left: auto;
                                                            margin-right: auto;
                                                            width: 75%;
                                                        }
                                                        
                                                        #subhead {
                                                            font-family: Arial, Helvetica, sans-serif;
                                                            font-size: 1.25em;
                                                            color: #3A6EFF;
                                                            text-align: center;
                                                        }
                                                        
                                                        #probstatement {
                                                            display: inline-block;
                                                            margin-left: 0;
                                                            margin-right: auto;
                                                            float: left;
                                                            width: 50%;
                                                            overflow: hidden;
                                                        }
                                                        
                                                        #probimage {
                                                            display: inline-block;
                                                            margin-left: auto;
                                                            margin-right: 0;
                                                            Overflow: hidden;
                                                            width: 50%;
                                                        }
                                                        
                                                        #professionals {
                                                            display: block;
                                                            width: 75%;
                                                            margin-left: auto;
                                                            margin-right: 0;
                                                        }
                                                        
                                                        #problem {
                                                            width: 75%;
                                                            margin: 0px auto;
                                                            padding-bottom: 20px;
                                                        }
                                                        
                                                        #persona1 {
                                                            width: 75%;
                                                            margin: 0 auto;
                                                            padding: 50px 0 50px 0;
                                                        }
                                                        
                                                        #persona2 {
                                                            width: 75%;
                                                            margin: 0 auto;
                                                            padding: 0px 0 50px 0;
                                                        }
                                                        
                                                        .personadetail {
                                                            display: inline-block;
                                                            margin-left: 0;
                                                            margin-right: auto;
                                                            width: 50%;
                                                            overflow: hidden;
                                                        }
                                                        
                                                        #personapic1 {
                                                            display: inline-block;
                                                            margin-left: auto;
                                                            margin-right: 0;
                                                            Overflow: hidden;
                                                            width: 50%;
                                                            float: right;
                                                        }
                                                        
                                                        .personapic {
                                                            display: block;
                                                            width: 75%;
                                                            margin-left: auto;
                                                            margin-right: 0;
                                                        }
                                                        
                                                        @media screen and (max-width: 600px) {
                                                            #probstatement {
                                                                float: none;
                                                                margin-right: 0;
                                                                width: auto;
                                                                border: 0;
                                                            }
                                                            @media screen and (max-width: 600px) {
                                                                #probimage {
                                                                    float: none;
                                                                    margin: 20px auto 0 auto;
                                                                    width: 100%;
                                                                    border: 0;
                                                                }
                                                            }
                                                            @media screen and (max-width: 600px) {
                                                                #professionals {
                                                                    margin-left: 0px;
                                                                    margin-right: auto;
                                                                }
                                                            }